tower {
  accessToken = '8d2b621222e112626215ad9aff1d8b29d758ad03'
  enabled = true
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = params.singularity_cacheDir
}

params {
  singularity_pullImages = true
  singularity_cacheDir = '/well/gel/HICF2/software/singularity'

  ref='/well/gel/HICF2/ref/genomes/GRCh38/bwakit/hs38DH.fa'
  somalier_data = '/well/gel/HICF2/ref/somalier_data'
  regions = '/well/gel/HICF2/ref/geneanno/gencode/gencode.v31.annotation.exons.merged.bed.gz'
  chrs_folder = '/well/gel/HICF2/ref/genomes/GRCh38/chrs/'

  roh_AFfile = '/well/gel/HICF2/ref/ROH_resources/gnomAD_v3_AF.tab.gz'
  roh_gmaps = '/well/gel/HICF2/ref/ROH_resources/Genetic_maps'

  exphunter_catalog = '/well/gel/HICF2/software/ExpansionHunter/3.2.2/variant_catalog/hg38/variant_catalog.json'
}

profiles {
  cluster {
    executor {
      name = 'sge'
      queueSize = 200
      pollInterval = '2 min'
      queueStatInterval = '2 min'
      dumpInterval = '2 min'
    }
    process {
      withLabel: highcores {
        queue='short.qc'
        clusterOptions='-pe shmem 10'
      }
      withLabel: highcores_AVX {
        queue='short.qc@@short.hge'
        clusterOptions='-pe shmem 10'
      }
      withLabel: lowcores {
        queue='short.qc'
        clusterOptions='-pe shmem 5'
      }
      withLabel: singlecore {
        queue='short.qc'
        clusterOptions='-pe shmem 1'
      }
      withName: multiqc {
        executor = 'local'
        cpus = 4
      }
    }
  }

  humbug {
    executor {
      name = 'local'
      queueSize = 2
    }

    process {
      withLabel: highcores {
        cpus=10
      }
      withLabel: lowcores {
        cpus=5
      }
      withLabel: singlecore {
        cpus=1
      }
    }
  }
}

if (params.useSingularity) {
  log.info """\
  Singularity option invoked
  """.stripIndent()
  includeConfig 'singularity_images.config'
}