manifest {
    name = 'WGS analysis'
    description = 'Analysis of WGS data. Include alignment and variant calling'
    mainScript = 'main.nf'
    version = '1.0.0'
    author = 'Edoardo Giacopuzzi'
    nextflowVersion = '20.10.0'
}

tower {
  accessToken = '8d2b621222e112626215ad9aff1d8b29d758ad03'
  enabled = true
}

params {
  useSingularity = true

  // Default values for main params
  cohort_id = ''
  outdir = 'results'
  singlesamples = false
  qc_folder = "${params.outdir}/QC"
  bam_folder = "${params.outdir}/BAM"
  vcf_folder = "${params.outdir}/VCF"
  sv_folder = "${params.outdir}/SV"
  roh_folder = "${params.outdir}/ROH"
  exphunter_folder = "${params.outdir}/ExpHunter"
  mode = "WGS"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/well/gel/HICF2/software/singularity"
}


includeConfig 'config/resources.conf'
if (params.operation == "align") {
  includeConfig 'config/singularity_align.conf'
}
if (params.operation == "call_variants") {
  includeConfig 'config/singularity_callvariants.conf'
  includeConfig 'config/filters.conf'
} 

profiles {
  cluster {
    executor {
      name = 'sge'
      queueSize = 200
      pollInterval = '2 min'
      queueStatInterval = '2 min'
      dumpInterval = '2 min'
    }
    process {
      withLabel: highcores_long {
        queue='long.qc'
        clusterOptions='-pe shmem 10'
      }
      withLabel: highcores {
        queue='short.qc'
        clusterOptions='-pe shmem 10'
      }
      withLabel: highcores_AVX {
        queue='short.qc@@short.hge'
        clusterOptions='-pe shmem 10'
      }
      withLabel: highcores_AVX_long {
        queue='long.qc@@long.hge'
        clusterOptions='-pe shmem 10'
      }
      withLabel: lowcores_long {
        queue='long.qc'
        clusterOptions='-pe shmem 5'
      }
      withLabel: lowcores {
        queue='short.qc'
        clusterOptions='-pe shmem 5'
      }
      withLabel: singlecore {
        queue='short.qc'
        clusterOptions='-pe shmem 1'
      }
      withName: MULTIQC {
        executor = 'local'
        cpus = 4
      }
    }
  }

  humbug {
    executor {
      name = 'local'
      queueSize = 2
    }
    process {
      withLabel: highcores {
        cpus=10
      }
      withLabel: lowcores {
        cpus=5
      }
      withLabel: singlecore {
        cpus=1
      }
    }
  }

  helix {
    executor {
      name = 'lsf'
      queueSize = 200
      pollInterval = '2 min'
      queueStatInterval = '2 min'
      dumpInterval = '2 min'
    }
    process {
      withLabel: highcores_long {
        queue = 'long'
        cpus = 10
        memory= 128.GB
      }
      withLabel: highcores {
        queue = 'medium'
        cpus = 10
        memory= 128.GB
      }
      withLabel: highcores_AVX {
        queue = 'medium'
        cpus = 10
        memory= 128.GB
      }
      withLabel: highcores_AVX_long {
        queue = 'long'
        cpus = 10
        memory= 128.GB
      }
      withLabel: lowcores_long {
        queue = 'long'
        cpus = 5
        memory= 72.GB
      }
      withLabel: lowcores {
        queue = 'medium'
        cpus = 5
        memory= 72.GB
      }
      withLabel: singlecore {
        queue = 'short'
        cpus = 1
        memory= 32.GB
      }
      withName: MULTIQC {
        queue = 'short'
        cpus = 1
        memory= 32.GB
      }
    }
  }
}