withName: 'align_dedup:singlePartAlign' {
container = "library://edg1983/wgs_pipeline/align_dedup:v1.0"
}
withName: 'align_dedup:mergeBams' {
container = "library://edg1983/wgs_pipeline/align_dedup:v1.0"
}
withName: 'align_dedup:deduplicate' {
container = "library://edg1983/wgs_pipeline/align_dedup:v1.0"
}
withName: 'align_dedup:sortBams' {
container = "library://edg1983/wgs_pipeline/align_dedup:v1.0"
}

withName: 'ROH_detection:bcftools_ROH' {
container = "library://edg1983/wgs_pipeline/bcftools:v1.10.2"
}

withName: 'ExpansionHunter:exphunter_call' {
container = "library://edg1983/wgs_pipeline/expansion_hunter:v3.2.2"
}
withName: 'ExpansionHunter:compress_vcf' {
container = "library://edg1983/wgs_pipeline/bcftools:v1.10.2"
}
withName: 'ExpansionHunter:merge_vcf' {
container = "library://edg1983/wgs_pipeline/bcftools:v1.10.2"
}

withName: 'QC_bam:fastqc' {
container = "library://edg1983/wgs_pipeline/qcbam:v1.0"
}
withName: 'QC_bam:coverage' {
container = "library://edg1983/wgs_pipeline/qcbam:v1.0"
}
withName: 'QC_bam:map_flag_stat' {
container = "library://edg1983/wgs_pipeline/qcbam:v1.0"
}
withName: 'QC_bam:somalier' {
container = "library://edg1983/wgs_pipeline/qcbam:v1.0"
}
withName: 'QC_bam:sex_and_relatedness' {
container = "library://edg1983/wgs_pipeline/qcbam:v1.0"
}
withName: 'QC_bam:ancestry' {
container = "library://edg1983/wgs_pipeline/qcbam:v1.0"
}
withName: 'QC_bam:multiqc' {
container = "library://edg1983/wgs_pipeline/qcbam:v1.0"
}

withName: 'SV_singlesample:estimate_readlength' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_singlesample:estimate_libvalues' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_singlesample:lumpy' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_singlesample:cnvnator' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}

withName: 'SV_mergesamples:concat_lumpy_calls' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:merge_lumpy_calls' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:regenotype_family' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:copynumber_family' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:make_family_vcf' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:prune_family_vcf' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:fix_family_vcf' {
container = "library://edg1983/wgs_pipeline/sv_processing:v1.0"
}
withName: 'SV_mergesamples:svtools_classify' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:quality_filter_sv' {
container = "library://edg1983/wgs_pipeline/sv_processing:v1.0"
}
withName: 'SV_mergesamples:convert_to_bed' {
container = "library://edg1983/wgs_pipeline/sv_call:v1.0"
}
withName: 'SV_mergesamples:lowcomplexity_filter' {
container = "library://edg1983/wgs_pipeline/sv_processing:v1.0"
}

withName: 'deepvariant' {
container = "library://edg1983/wgs_pipeline/deepvariant:v1.0.0"
}      
withName: 'merge_gvcfs' {
container = "library://edg1983/wgs_pipeline/glnexus:v1.2.7"
}

withName: 'process_deepvariant_vcf:clean_and_filter_vcf' {
container = "library://edg1983/wgs_pipeline/vcf_processing:v1.0"
}
withName: 'process_deepvariant_vcf:multiqc_vcf' {
container = "library://edg1983/wgs_pipeline/vcf_processing:v1.0"
}    